root = true

[*]
# charset = utf-8
# end_of_line = lf
indent_size = 2
# indent_style = space
# insert_final_newline = true
# max_line_length = 100
# tab_width = 4

[{*.ts,*.ats,*.tsx}]
# indent_size = 2
# tab_width = 2
ij_typescript_use_double_quotes = true
ij_typescript_force_semicolon_style = false

[{.eslintrc,.prettierrc,.babelrc,jest.config,.stylelintrc,*.bowerrc,*.jsb3,*.jsb2,*.json}]
# indent_size = 2

[{GalleryImage,*.cjs,*.js}]
ij_javascript_force_semicolon_style = false
# indent_size = 2
# tab_width = 2
